/* For screens smaller than 1400px */
@media screen and (max-width: 1400px) {
  #profile {
    height: 70vh;
    margin-bottom: 2rem;
  }

  .about-containers {
    flex-wrap: wrap;
  }

  #contact, #projects {
    height: auto;
  }
}

/* For screens smaller than 1200px (Laptops) */
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    padding: 10px;

  }
  .menu-links{
    display: flex;
  }

  #experience, .experience-details-container {
    margin-top: 1.5rem;
  }

  #profile, .section-container {
    display: block;
  }

  .arrow {
    display: none;
  }

  section, .section-container {
    height: auto;
    margin: 0 2%;
  }

  .section__pic-container {
    width: 150px;
    height: 75px;
    margin: 0 auto 1rem;
    padding-left: 5%;
  }

  .about-containers {
    margin-top: 1rem;
  }
}

/* For screens smaller than 992px (Tablets) */
@media screen and (max-width: 992px) {
  nav {
    height: 5vh;
  }

  .nav-links {
    font-size: 1.25rem;
  }

  .menu-links{
    display: flex;
  }
  .section-container {
    margin: 0 1rem;
  }

  #profile {
    height: 10rem;
    margin-bottom: 3rem;
  }

  .section__pic-container {
    width: 120px;
    height: 60px;
  }

  .title {
    font-size: 1.75rem;
  }

  .details-container {
    padding: 1rem;
    font-size: 0.9rem;
  }

  .btn {
    font-size: 1rem;
    padding: 0.8rem;
    width: 6rem;
  }
}

/* For screens smaller than 768px (Phones) */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden; /* Removes horizontal scrolling */
    text-align: center; /* Center aligns all content */
  }
  
  .about-containers {
    flex-direction: column;
    align-items: center; /* Center aligns the content in about section */
  }
  
  .logo {
    font-size: 24px;
  }

  .section_pic-container img {
    height: 350px !important;
    width: 350px !important; 
  }

  #about {
    flex-direction: column;
    height: fit-content;
  }

  nav {
    height: 6vh;
  }

  .nav-links {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    padding-right: 20px;
    width: 100%;
  }

  .menu-links {
    flex-direction: column; /* Changes menu to display in a column */
    align-items: center; /* Center aligns the menu links */
  }

  .section-container {
    margin: 0 0.5rem;
    flex-direction: column;
  }

  #profile {
    height: auto;
    margin-bottom: 2rem;
  }

  .section__pic-container {
    width: 100px;
    height: 50px;
  }

  .title {
    font-size: 1.5rem;
  }

  .details-container {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .btn {
    font-size: 0.9rem;
    padding: 0.6rem;
    width: 5rem;
  }

  .contact-left p {
    font-size: 1rem;
  }

  .contact-right input,
  .contact-right textarea {
    font-size: 0.875rem;
  }

  .contact-right button {
    font-size: 1rem;
  }
}

/* For screens smaller than 576px (Small Phones) */
@media screen and (max-width: 576px) {
  body {
    overflow-x: hidden; /* Ensure horizontal scrolling is removed */
    text-align: center;
  }

  nav {
    height: 6vh;
  }

  .nav-links {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  .hamburger-menu {
    display: flex;
    margin-left: 80px;
  }

  .menu-links {
    display: flex;
    flex-direction: column; /* Changes menu to display in a column */
    align-items: center; /* Center aligns the menu items */
  }

  .hamburger-icon {
    cursor: pointer;
  }

  .hamburger-icon.open {
    display: flex;
    flex-wrap: wrap;
  }

  .menu-links a {
    width: 100%;
    text-align: center;
    font-size: large;
    padding: 0.5rem;
  }

  .section-container {
    margin: 0 0.5rem;
    flex-direction: column;
  }

  #profile {
    height: auto;
    margin-bottom: 2rem;
  }

  .section__pic-container {
    width: 100px;
    height: 50px;
  }

  .title {
    font-size: 1.25rem;
  }

  .details-container {
    padding: 0.5rem;
    font-size: 0.7rem;
  }

  .btn {
    font-size: 0.75rem;
    padding: 0.1;
  }
}
